@import "./normalize.css";
@import "tailwindcss";

@theme {
    --font-family-primary-regular: 'Primary-Regular', sans-serif;
    --font-family-primary-medium: 'Primary-Medium', sans-serif;
    --font-family-primary-bold: 'Primary-Bold', sans-serif;
}



#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}
